/* :root {
    --main-font-family: 'Montserrat', sans-serif;
    --logo-title-font-family: 'Solway', serif;
    --bg-color-brown: #a79d93;
    --btn-color-green: #5c6141;
    --bg-color-main: #f1ebdf;
}

* {
    font-family: var(--main-font-family);
    background-color: var(--bg-color-main);
    color: var(--btn-color-green);
} */